@import "../../../style/style.scss";

.tabs {
  @include paddingX(2rem);
  max-width: 1200px;
  margin: 3rem auto;

  .ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $color-red !important;
    font-size: 1.3rem;
  }

  .ant-tabs-tab-btn {
    font-size: 1.1rem;
  }

  .ant-tabs-ink-bar {
    display: none;
  }
}
