$color-red: #fd0808;
$dark-gray: #6c757d;
$color-black: black;
$color-green: #108f3e;
$color-white: #fff;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
$color-login: linear-gradient(
  180deg,
  rgba(20, 50, 93, 0.9),
  rgba(8, 22, 48, 0.9)
);
$color-button: #1aafcd;
